@import "../../../variables.scss";

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    max-width: 400px;
    padding: 32px 24px;
    border: 1px solid $grey;
    border-radius: 12px;
    width: 60%;

    h3 {
      margin-bottom: 22px;
      color: $light-font;
      font-weight: 600;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 22px;

      .input-wrapper {
        display: flex;
        flex-direction: column;
        gap: 6px;

        label {
          font-size: 16px;
          color: $light-font;
          font-weight: 500;
        }

        input {
          border: 1px solid $grey;
          padding: 6px 12px;
          border-radius: 8px;
          font-size: 16px;
        }
      }

      button {
        align-self: flex-start;
        margin-bottom: 22px;
      }
    }
  }
}
