<div class="container">
    <div class="wrapper">
        <h3>Change Password</h3>

        <form>
            <div class="input-wrapper">
                <label>Old Password *</label>
                <input type="password">
            </div>

            <div class="input-wrapper">
                <label>New Password *</label>
                <input type="password">
            </div>

            <div class="input-wrapper">
                <label>Retype Password *</label>
                <input type="password">
            </div>

            <button class="cmn-btn">Update Password</button>
        </form>
    </div>
</div>