.container {
  display: flex;
  min-height: 100vh;
  align-items: flex-start;

  .body-content {
    flex-grow: 1;
    align-self: stretch;
    display: flex;
    flex-direction: column;

    .content-section {
      flex-grow: 1;
      padding: 24px;
    }
  }
}