<div class="container">
    <div class="wrapper">
        <form (submit)="redirectToMainBody($event)">
            <div class="email-wrapper">
                <label>Email Id</label>
                <input type="email">
            </div>
            <div class="password-wrapper">
                <label>Password</label>
                <input type="password">
            </div>

            <label class="generator-checkbox">
                <input type="checkbox">
                <span>Generator</span>
            </label>
            <button class="cmn-btn">Login</button>
        </form>
    </div>
</div>